.login-box {
    .login-header {
        height: $headerHeight;
        line-height: $headerHeight;
        padding: 0 20px;
    }
    .login-header-home {
        display: inline-block;
        color: $blue;
        padding: 0 10px;
        cursor: pointer;
        user-select: none;
    }
    .login-header-register {
        user-select: none;
        display: inline-block;
        color: $blue;
        padding: 0 10px;
        cursor: pointer;
    }
    .login-content {
        padding-top: 80px;
    }
    .login-content-submit {
        padding-top: 20px;
    }
    .login-submit{
        width: 100px;
    }

    .login-content-item {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        height: 40px;
        line-height: 40px;
    }
    .item-title {
        display: inline-block;
        width: 80px;
        text-align: right;
        padding-right: 10px;
    }
    .item-inp {
        width: 160px;
    }
}

.register-box {
    .register-header {
        height: $headerHeight;
        line-height: $headerHeight;
        padding: 0 20px;
    }
    .register-header-home {
        display: inline-block;
        color: $blue;
        padding: 0 10px;
        cursor: pointer;
        user-select: none;
    }
    .register-content {
        padding-top: 80px;
    }
    .register-content-item {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        line-height: 40px;
    }
    .item-title {
        display: inline-block;
        width: 80px;
        text-align: right;
        padding-right: 10px;
    }
    .item-inp {
        width: 160px;
    }
    .register-content-submit {
        padding-top: 20px;
    }
    .register-submit {
        width: 100px;
    }
}