.header-box {
    padding-top: 20px;
    padding-bottom: 10px;
}

.app-header-box {
    padding: 5px 20px;
}

.header-item {
    display: inline-block;
    margin-right: 20px;
}

.header-item-title {
    display: inline-block;
    margin-right: 10px;
}

.header-item-index {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
}

.header-item-learn-detail {
    width: 300px;
}

.header-item-learn-title {
    width: 150px;
}

.header-item-search {
    width: 60px;
    color: blue;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}

.header-item-next {
    margin-right: 10px;
}

.header-item-id {
    width: 100px;
}