.app-header-box {
    padding: 5px 20px;
}

.header-item {
    display: inline-block;
    margin-right: 20px;
}

.header-item-index {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
}

.header-item-title {
    display: inline-block;
    margin-right: 10px;
}