.app-header {
    padding: 0 30px;
    box-shadow: 2px 2px 2px #ccc;
    .app-header-left {
        height: 58px;
        line-height: 58px;
    }
    .app-icon,
    .app-home,
    .app-search {
        display: inline-block;
        font-size: 16px;
    }
    .app-icon {
        color: $orange;
        width: 100px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        user-select: none;
        font-weight: 600;
    }
    .app-home {
        cursor: pointer;
        color: $orange;
        padding: 0 10px;
        margin: 0 10px;
        margin-right: 100px;
        user-select: none;
    }
    .app-header-right {
        height: 58px;
    }
    .app-header-title {
        display: inline-block;
        position: relative;
        height: 100%;
        line-height: 58px;
        padding: 0 10px;
        font-size: 16px;
        color: $orange;
    }
    .app-header-title-item{
        display: inline-block;
        margin-right:20px;
        cursor: pointer;
        user-select: none;
    }
    .app-header-title-name{
        cursor: text;
        font-size: 14px;
        color: #666;
        user-select: text;
    }
    .app-header-title-item-icon{
        margin-right:4px;
    }
    .app-header-content {
        height: 58px;
    }
    .app-header-content-item {
        margin-left: 10px;
        display: inline-block;
        line-height: 58px;
        padding: 0 10px;
        cursor: pointer;
        color: $orange;
        font-size: 16px;
    }
    .app-header-content-icon {
        height: 100%;
        display: inline-block;
        position: relative;
    }
   
   
    .app-header-content-icon-span {
        position: relative;
        top: 50%;
        margin-top: -23px;
        display: inline-block;
        border-radius: 50px;
        width: 46px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        overflow: hidden;
       
    }
    .app-header-content-icon-w {
        width: 30px;
        color: #999;
    }
}