body,
#root,
.router-box {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content {
    flex: 1;
    display: flex;
    padding: 10px;
}

.app-content-left {
    border: 1px solid green;
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.app-content-right {
    border: 1px solid orange;
    flex: 1;
    padding: 10px;
}